# usuário do banco de dados
DB_USERNAME="" 
# Senha do banco de dados
DB_PASSWORD=""
# Base de dados
DB_DATABASE="" 
# Host do banco de dados
DB_HOST="localhost"
# Tipo do banco de dados
DB_DIALECT="mysql"
# Porta de conexão com o banco de dados
DB_PORT=3306
# Porta da aplicação
APP_PORT=8080
# Secret JWT
JWT_SECRET=seuSegredoSuperSeguro