# Informações do sistema
APP=""
# Porta da aplicação
APP_PORT= # Porta da aplicação
# Secret JWT
JWT_SECRET=
EMAIL_ADM=""

# usuário do banco de dados
DB_USERNAME="" 
# Senha do banco de dados
DB_PASSWORD=""
# Base de dados
DB_DATABASE="" 
# Host do banco de dados
DB_HOST=""
# Tipo do banco de dados
DB_DIALECT=""
# Porta de conexão com o banco de dados
DB_PORT=

# Credenciais de servidor de e-mail
EMAIL_FROM=""
EMAIL_HOST=""
EMAIL_PORT=
EMAIL_USER=""
EMAIL_PASS=""

